<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        #map {
            height: 600px;
            width: 100%;
        }
    </style>
</head>

<body>
    <h1>Home Page</h1>

    <div id="map"></div>

    <br>

<script>
        const locations = [
            { lat: 33.7804494335901, lng: -84.4049251642794 },
            { lat: 33.774241092779, lng: -84.3951471683685 },
            { lat: 33.7710653643324, lng: -84.3915450543985 }
        ]

        var coordMaps = {{ coordMaps }}


        function initMap() {
            const gt = { lat: 33.7756, lng: -84.3963}
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 15,
                center: gt
            })

            const contentString =
                '<div>' +
                    '<h1>West Village Starbucks</h1>' +
                    '<div>' +
                        '<p>West Village Starbucks, located in the West Village Dining Commons.</p>' +
                    '</div>' +
                '</div>'
            const infowindow = new google.maps.InfoWindow({
                content: contentString,
            });

            const markers = locations.map((location, i) => {
                return new google.maps.Marker({
                    position: location,
                    map: map
                })
            })
            markers[0].addListener("click", () => {
                infowindow.open(map, markers[0])
            })

        }
    </script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARsNpnQRNR3hmJphz_FOSiMyU33ScK69M&callback=initMap&libraries=&v=weekly"
      async
    ></script>
</body>
</html>
