<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>QueueCheck</title>
</head>

<body>
    <h1>QueueCheck</h1>
    <a href="/login">Login</a>
    <br>
    <a href="/register">Register</a>
</body>
</html>
